# NEXT.JS BUILD FILES
.next/
out/
dist/
build/

# NODE MODULES
node_modules/

# ENV FILES
.env
.env.local
.env.development
.env.production

# SYSTEM
.DS_Store
Thumbs.db

# VERCEL
.vercel/

# TURBO
.turbo/

# LOGS
npm-debug.log*
yarn-debug.log*
yarn-error.log*
